/*Polices et tailles de texte générales.************************************************************************/
h2, h3 {
    font-family: 'Rosario', sans-serif;
    color: #707070;
    padding-bottom: 30px;
}
body {
    font-family: 'Ruda', sans-serif;
    color: #707070;
}

/*Nav-bar******************************************************************************************************/
#logo {
    width: 90px;
}
#burger {
    width: 60px;
}

/*Cadre-pincipal***********************************************************************************************/
#image-header {
    width: 90%;
    padding-left: 70px;
}
#cadre-princpal {
    color: white;
    padding-top: 200px;
}
header{
    background: url(../img/fond.jpg) no-repeat center center;
    background-size: cover;
    height:890px;
}
@media (max-width: 700px) {
    header{
        background: url(../img/fond-mobile.jpg) no-repeat left center;
        background-size: cover;
        height:900px;
    }
    #cadre-princpal {
        color: #6C5FB1;
    }
    h1.display-4, .lead {
        margin-left: 20px;
        margin-right: 90px;
    }
    #cadre-secondaire {
        margin-top: 0px !important;
        padding: 0px;
        height: 500px;
    }
}

/*Cadre-secondaire*********************************************************************************************/
#cadre-secondaire {
    color: white;
    margin-top: 100px;
    padding: 30px;
    background-color: #6C5FB1;
}
h2#decouvre.display-4 {
    color: white !important;
    font-size: 2rem;
}

/*Boutons******************************************************************************************************/
.nav-link.dropdown-toggle.langue {
    color: white;
    background-color: #6C5FB1;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 30px;
}
.nav-link.dropdown-toggle.langue:hover {
    background-color:#a30008;
}
#compte {
    color: white;
    background-color: #a30008;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
#compte:hover {
    background-color: #ef575f;
}
/*Fléche dropdown*/
a {
    color: white;
}
a:hover {
    color: white;
}
/****************/
footer div div ul li a:hover {
    color: #a30008;
}
footer div div ul li:hover {
    color: #a30008;
}
.gros-bouton {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    margin-top: 30px;
}
.gros-bouton:hover {
    background-color: #ef575f;
}
.gros-bouton.test-toi {
    background-color: #a30008;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gros-bouton.test-toi:hover {
    background-color: #ef575f;
}
.gros-bouton.demarrer {
    background-color: #6C5FB1;
}
.gros-bouton.demarrer:hover {
    background-color: #a30008;
}
.btn.btn-outline-primary.envoyer {
    background-color: #a30008;
    color: white;
    border: 1px solid white;
}
.btn.btn-outline-primary.envoyer:hover {
    background-color: #ef575f;
}

/*Sections*****************************************************************************************************/
#seconde-section, #cinquieme-section {
    background-color: #FFD600;
    padding: 50px;
}
#troisieme-section, #quatrieme-section {
    padding: 50px;
}
#troisieme-section {
    background: url(../img/second-rectangle.jpg)no-repeat center center ;
    background-size: cover;
    height:600px;;
}
.card {
    background-color: #FFD600 !important;
    border: none;
}

/*Footer******************************************************************************************************/
#image-footer {
    width: 170%;
}
#second-colonne-footer {
    background-color: #6C5FB1;
    color: white;
    padding: 50px;
}
footer h2, h3 {
    color: white;
    padding-top: 20px;
}
#ligne {
    border-top: 2px solid white;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    padding-left: 0;
}
