/*Polices et tailles de texte générales.************************************************************************/
h2, h3 {
    font-family: 'Rosario', sans-serif;
    color: #707070;
    padding-bottom: 30px;
}
body {
    font-family: 'Ruda', sans-serif;
    color: #707070;
}
main a {
    color: #707070;
}

/*Nav-bar******************************************************************************************************/
#logo {
    width: 90px;
}
#burger {
    width: 60px;
}
header {
    background-image: url(../img/fond.jpg);
    background-size: cover;
}
@media (max-width: 700px) {
    header{
        background: url(../img/fond-mobile-2.jpg) no-repeat left center;
        background-size: cover;
    }
    #cadre-princpal {
        color: #6C5FB1;
    }
    h1.display-4, .lead {
        margin-left: 20px;
        margin-right: 90px;
    }
}

/*Boutons******************************************************************************************************/
.nav-link.dropdown-toggle.langue {
    color: white;
    background-color: #6C5FB1;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 30px;
}
.nav-link.dropdown-toggle.langue:hover {
    background-color:#a30008;
}
#compte {
    color: white;
    background-color: #a30008;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
#compte:hover {
    background-color: #ef575f;
}
/*Fléche dropdown*/
nav a {
    color: white;
}
a:hover {
    color: white;
}
footer div div ul li a:hover {
    color: #a30008;
}
footer div div ul li:hover {
    color: #a30008;
}
.gros-bouton {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    margin-top: 30px;
}
.gros-bouton:hover {
    background-color: #ef575f;
}
.gros-bouton.teste-toi {
    background-color: #a30008;
}
.gros-bouton.teste-toi:hover {
    background-color: #ef575f;
}
#cestParti {
    width: 2px;
    height: 1px;
}
.gros-bouton.demarrer {
    background-color: #6C5FB1;
}
.gros-bouton.demarrer:hover {
    background-color: #a30008;
}
.btn.btn-outline-primary.envoyer {
    background-color: #a30008;
    color: white;
    border: 1px solid white;
}
.btn.btn-outline-primary.envoyer:hover {
    background-color: #ef575f;
}
.cestParti {
    width: 150px;
    height: 40px;
    background-color: #6C5FB1;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 1em;
    margin-bottom: 15px;
}
.cestParti:hover {
    background-color: #a30008;
}

/*Sections*****************************************************************************************************/
#seconde-section, #quatrieme-section {
    background-color: #FFD600;
    padding: 50px;
}
#premiere-section, #troisieme-section {
    padding: 50px;
}
div div article img {
    width: 60%;
    padding-bottom: 20px;
}
input.input {
    padding: 10px;
    margin: 10px;
    border: 2px solid #707070;
    border-radius: 20px;
    font-size: 1.5em;
}
.number {
    font-size: 1.5rem;
    padding-right: 10px;
    padding-top: 25px;
}
#alphabet {
    color: #707070;
}
.lien:hover {
    color: #a30008;
}
img.image:hover {
    opacity: 0.33;
}
div.col-lg-3.article.img:hover {
    opacity: 0.33;
}
.son {
    width: 20%;
    margin-bottom: 20px;
}
.question {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*Planning de travail******************************************************************************************/
div.tab-pane.fade.show.active {
    padding: 10px;
    margin: 10px;
}
.col-12.col-lg-2, .col-12.col-lg-6 {
    padding: 10px;
    border-bottom: 1px solid #707070;
    padding-top: 40px;
}
a#home-tab.nav-link, a#profile-tab.nav-link, a#contact-tab.nav-link {
    color: #707070;
    border: 1px solid #707070;
}
a#home-tab.nav-link:hover, a#profile-tab.nav-link:hover, a#contact-tab.nav-link:hover {
    background-color: #a30008;
    border: 1px solid white;
    color: white;
}
.progress {
    height: 35px;
    margin: 20px;
    border-radius: 50px;
    font-family: 'Ruda', sans-serif;
    font-size: 1em;
}
div.progress-bar.bg-success {
    background-color: #6C5FB1 !important;
}
div.progress-bar.bg-info {
    background-color: #ef575f !important;
}
div.progress-bar.bg-warning {
    background-color: #a30008 !important;
}
.col-12.espace {
    height: 100px;
}

/*Footer******************************************************************************************************/
#image-footer {
    width: 170%;
}
#second-colonne-footer {
    background-color: #6C5FB1;
    color: white;
    padding: 50px;
}
footer h2, h3 {
    color: white;
    padding-top: 20px;
}
#ligne {
    border-top: 2px solid white;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    padding-left: 0;
}
footer a {
    color: white;
}
